body{
    background-color: #ffdead;
    font-size: 12px;
    font-style: tahoma;
}
li{
    color:#FF0000;
    font-style: Arial;
    font-size: 16px;
}
hi{
    font-style: Arial;
    font-size: 16px;

}
button {
    border: none;
    background-color: transparent;
  }
  h1{
    color: red;
    font-family: arial;
    font-size:16px;
  }